<form action="/items" method="post">
  <label for="description">Add a new place</label>
  <input id="description" name="description" type="text">
  <br>
  <label for="date">When did you visit? (Month, Year)</label>
  <input id="date" name="date" type="text">
  <br>
  <label for="location">Where did you stay?</label>
  <input id="location" name="location" type="text">
  <br>
  <label for="duration">How long did you stay?</label>
  <input id="duration" name="duration" type="text">
  <br>
  <label for="companion">Who did you travel with?</label>
  <input id="companion" name="companion" type="text">
  <br>
  <button type="submit">Submit</button>
</form>